<div class="lesson-list-container">
  <tui-table-bar>
    <tui-button class="add-button" appearance="icon" (click)="showDialog()">
      <tui-icon icon="@tui.circle-plus"></tui-icon>
    </tui-button>
  </tui-table-bar>

  <tui-table>
    <thead tuiThGroup>
      <tr>
        <th tuiTh>Year</th>
        <th tuiTh>Week</th>
        <th tuiTh>Day</th>
        <th tuiTh>Start Time</th>
        <th tuiTh>End Time</th>
        <th tuiTh>Teacher</th>
        <th tuiTh>Group</th>
        <th tuiTh>Subject</th>
        <th tuiTh>Office</th>
        <th tuiTh>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of lessons">
        <td tuiTd>{{ lesson.year }}</td>
        <td tuiTd>{{ lesson.week }}</td>
        <td tuiTd>{{ lesson.dayOfWeek }}</td>
        <td tuiTd>{{ lesson.startTime }}</td>
        <td tuiTd>{{ lesson.endTime }}</td>
        <td tuiTd>
          {{ lesson.teacher.jobRole }} {{ lesson.teacher.firstName }}
          {{ lesson.teacher.secondName }}
          {{ lesson.teacher.lastName }}
        </td>
        <td tuiTd>{{ lesson.groupName }}</td>
        <td tuiTd>{{ lesson.subjectName }}</td>
        <td tuiTd>
          Корпус {{ lesson.corpusNumber }} Кабинет {{ lesson.classroomNumber }}
        </td>
        <td tuiTd>
          <tui-button
            appearance="icon"
            (click)="showDialogs(lesson.id)"
            class="edit-button"
          >
            <lucide-icon name="pencil"></lucide-icon>
          </tui-button>
          <tui-button
            appearance="icon"
            (click)="deleteLesson(lesson)"
            class="delete-button"
          >
            <lucide-icon name="trash-2"></lucide-icon>
          </tui-button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="pagingInfo">
      <tr>
        <td [colSpan]="columns.length">
          <div class="pagination-container" *ngIf="pagingInfo">
            <tui-table-pagination
              [page]="page"
              [size]="size"
              [total]="pagingInfo.total"
              [items]="[2, 5, 10, 20]"
              (paginationChange)="onPagination($event)"
            ></tui-table-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
  </tui-table>
  <div></div>
</div>
