<form [formGroup]="lessonForm" (ngSubmit)="submit()">
  <label for="YearInput">Выберите год</label>
  <tui-select formControlName="year" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="years">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="WeekInput">Выберите неделю</label>
  <tui-select formControlName="week" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="weeks">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="StartTimeHourInput">Выберите время начала пары, час</label>
  <tui-select formControlName="startTimeHour" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="hours">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="StartTimeMinuteInput">Выберите время начала пары, минуту</label>
  <tui-select formControlName="startTimeMinute" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="minutes">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="EndTimeHourInput">Выберите время конца пары, час</label>
  <tui-select formControlName="endTimeHour" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="hours">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="EndTimeMinuteInput">Выберите время конца пары, минуту</label>
  <tui-select formControlName="endTimeMinute" tuiTextfieldSize="m">
    <tui-data-list-wrapper *tuiDataList [items]="minutes">
    </tui-data-list-wrapper>
  </tui-select>

  <label for="DayOfWeekInput">Выберите день недели</label>
  <tui-select
    formControlName="dayOfWeek"
    tuiTextfieldSize="m"
    [stringify]="dayStringify"
  >
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="daysOfWeekContent"
      [items]="daysOfWeek"
    >
      <ng-template #daysOfWeekContent let-item>
        {{ item.text }}
      </ng-template>
    </tui-data-list-wrapper>
  </tui-select>

  <label for="TeacherIdInput">Выберите преподавателя</label>
  <tui-select
    formControlName="teacherId"
    tuiTextfieldSize="m"
    [stringify]="teacherStringify"
  >
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="teachersContent"
      [items]="teachers"
    >
      <ng-template #teachersContent let-item>
        {{ item.fullName }}
      </ng-template>
    </tui-data-list-wrapper>
  </tui-select>

  <label for="GroupIdInput">Выберите группу</label>
  <tui-select
    formControlName="groupId"
    tuiTextfieldSize="m"
    [stringify]="groupStringify"
  >
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="groupsContent"
      [items]="groups"
    >
      <ng-template #groupsContent let-item>
        {{ item.name }}
      </ng-template>
    </tui-data-list-wrapper>
  </tui-select>

  <label for="SubjectIdInput">Выберите предмет</label>
  <tui-select
    formControlName="subjectId"
    tuiTextfieldSize="m"
    [stringify]="subjectStringify"
  >
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="subjectsContent"
      [items]="subjects"
    >
      <ng-template #subjectsContent let-item>
        {{ item.name }}
      </ng-template>
    </tui-data-list-wrapper>
  </tui-select>

  <label for="OfficeIdInput">Выберите кабинет</label>
  <tui-select
    formControlName="officeId"
    tuiTextfieldSize="m"
    [stringify]="officeStringify"
  >
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="officesContent"
      [items]="offices"
    >
      <ng-template #officesContent let-item>
        {{ item.officeName }}
      </ng-template>
    </tui-data-list-wrapper>
  </tui-select>

  <button tuiButton type="submit">Сохранить</button>
</form>
