<form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form">
  <h2>Login</h2>
  <tui-input formControlName="username" placeholder="Username" required
    >Type a login</tui-input
  >

  <tui-input-password
    formControlName="password"
    [tuiTextfieldLabelOutside]="true"
  >
    Type a password
  </tui-input-password>
  <button
    appearance="primary"
    tuiButton
    type="submit"
    [disabled]="!loginForm.valid"
  >
    <img [src]="icon" class="btn-icon" /> Войти
  </button>
  <p>
    <a href="#" (click)="openRegister($event)"
      >Нет аккаунта? Зарегистрироваться.</a
    >
  </p>
</form>
