<div class="subject-list-container">
  <tui-table-bar>
    <tui-button
      class="add-button"
      appearance="icon"
      (click)="openAddSubject(subject)"
    >
      <tui-icon icon="@tui.circle-plus"></tui-icon>
    </tui-button>
  </tui-table-bar>
  <table tuiTable class="table" [columns]="columns">
    <thead>
      <tr tuiThSubject>
        <th tuiTh [resizable]="true">Name Subject</th>
        <th tuiTh></th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="subjects">
      <tr *ngFor="let subject of subjects" tuiTr>
        <td *tuiCell="'name'" tuiTd>
          {{ subject.name }}
        </td>
        <td *tuiCell="'actions'" tuiTd>
          <tui-button
            appearance="icon"
            (click)="openEditSubject(subject)"
            class="edit-button"
          >
            <lucide-icon name="pencil"></lucide-icon>
          </tui-button>

          <tui-button
            appearance="icon"
            (click)="deleteSubject(subject)"
            class="delete-button"
          >
            <lucide-icon name="trash-2"></lucide-icon>

            <ng-container *ngIf="loading[subject.id]; else notLoading">
              <app-loader></app-loader>
            </ng-container>
            <ng-template #notLoading></ng-template>
          </tui-button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="pagingInfo">
      <tr>
        <td [colSpan]="columns.length">
          <div class="pagination-container" *ngIf="pagingInfo">
            <tui-table-pagination
              [page]="page"
              [size]="size"
              [total]="pagingInfo.total"
              [items]="[2, 5, 10, 20]"
              (paginationChange)="onPagination($event)"
            ></tui-table-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <div></div>
</div>
