.tui-space_top-1 {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
}

.photo-preview {
  margin-bottom: 20px;
}

.preview-photo,
.default-photo-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}
