<form class="form" (submit)="handleSubmit($event)">
  <tui-input
    tuiAutoFocus
    tuiTextfieldSize="m"
    type="text"
    [(ngModel)]="teacher.firstName"
    name="Name"
    style="margin: 10px"
  >
    Имя
    <input
      placeholder="Введите имя преподавателя"
      tuiTextfieldLegacy
      type="text"
    />
  </tui-input>
  <tui-input
    tuiAutoFocus
    tuiTextfieldSize="m"
    type="text"
    [(ngModel)]="teacher.secondName"
    name="secondName"
    style="margin: 10px"
  >
    Отчество
    <input
      placeholder="Введите отчество преподавателя"
      tuiTextfieldLegacy
      type="text"
    />
  </tui-input>
  <tui-input
    tuiAutoFocus
    tuiTextfieldSize="m"
    type="text"
    [(ngModel)]="teacher.lastName"
    name="lastName"
    style="margin: 10px"
  >
    Фамилия
    <input
      placeholder="Введите фамилию преподавателя"
      tuiTextfieldLegacy
      type="text"
    />
  </tui-input>
  <tui-input
    tuiAutoFocus
    tuiTextfieldSize="m"
    type="text"
    [(ngModel)]="teacher.jobRole"
    name="jobRole"
    style="margin: 10px"
  >
    Должность
    <input
      placeholder="Введите должность преподавателя"
      tuiTextfieldLegacy
      type="text"
    />
  </tui-input>

  <label *ngIf="!control.value" tuiInputFiles>
    <input accept="image/*" tuiInputFiles [formControl]="control" />
  </label>

  <tui-files class="tui-space_top-1">
    <tui-file
      *ngIf="
        control.value | tuiFileRejected : { accept: 'image/*' } | async as file
      "
      state="error"
      [file]="file"
      (remove)="removeFile()"
    />

    <tui-file
      *ngIf="loadedFiles$ | async as file"
      [file]="file"
      (remove)="removeFile()"
    />

    <tui-file
      *ngIf="failedFiles$ | async as file"
      state="error"
      [file]="file"
      (remove)="removeFile()"
    />

    <tui-file
      *ngIf="loadingFiles$ | async as file"
      state="loading"
      [file]="file"
      (remove)="removeFile()"
    />
  </tui-files>

  <div *ngIf="previewUrl" class="photo-preview">
    <h4>Предварительный просмотр новой фотографии:</h4>
    <img [src]="previewUrl" alt="New Teacher Photo" class="preview-photo" />
  </div>
  <button appearance="primary" tuiButton type="submit" class="btn">
    <img [src]="icon" class="btn-icon" /> Сохранить
  </button>
</form>
