<div>
  <section>
    <header class="header">
      <a class="link" href="/">
        <img src="/assets/img/logo-Pegasus.png" class="logo" />
        <h1 class="main_title">{{ pageTitle }}</h1>
      </a>

      <div class="login-container">
        <app-main-navigation></app-main-navigation>
        <ng-container *ngIf="isAuthenticated$ | async; else loginTemplate">
          <nav class="navbar">
            <tui-button
              class="logout-button"
              appearance="icon"
              (click)="logout()"
              class="nav-item"
            >
              <p>Выйти</p>
              <lucide-icon name="log-out"></lucide-icon>
            </tui-button>
          </nav>
        </ng-container>
        <div class="login">
          <ng-template #loginTemplate>
            <nav class="navbar">
              <tui-button
                class="login-button"
                appearance="icon"
                (click)="openAuthModal()"
                class="nav-item"
              >
                <p>Войти</p>
                <lucide-icon name="log-in"></lucide-icon>
              </tui-button>
            </nav>
          </ng-template>
        </div>
      </div>
    </header>
  </section>
</div>
<div class="container">
  <main role="main" class="pb-3">
    <tui-root>
      <router-outlet></router-outlet>
    </tui-root>
  </main>
</div>
