<div>
  <section>
    <header class="header">
      <a class="link" href="/">
        <img src="/assets/img/logo-Pegasus.png" class="logo" />
        <h1 class="main_title">{{ pageTitle }}</h1>
      </a>

      <div>
        <app-main-navigation></app-main-navigation>
        <ng-container *ngIf="isAuthenticated$ | async; else loginTemplate">
          <tui-button
            class="logout-button"
            appearance="icon"
            (click)="logout()"
          >
            <lucide-icon name="log-out"></lucide-icon>
          </tui-button>
        </ng-container>
        <ng-template #loginTemplate>
          <tui-button
            class="login-button"
            appearance="icon"
            (click)="openAuthModal()"
          >
            <lucide-icon name="log-in"></lucide-icon>
          </tui-button>
        </ng-template>
      </div>
    </header>
  </section>
</div>
<div class="container">
  <main role="main" class="pb-3">
    <tui-root>
      <router-outlet></router-outlet>
    </tui-root>
  </main>
</div>
