.add-button {
  cursor: pointer;
}

.teacher-list-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: 28px;
  margin-bottom: 100px;
}

.teacher-list-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  background-color: #277db4;
  border-radius: 12px;
  padding: 12px 24px;
  box-shadow: 0 4px 8px 0px #cdb8b8;
  transition: all 0.5s ease-in-out;
  flex: 1 1 27%;
  max-width: 27%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teacher-list-item:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 8px 12px 0px black;
}

.edit-button {
  cursor: pointer;
}

.delete-button {
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 5px;
}
