<div class="teacher-list-container">
  <tui-table-bar>
    <tui-button
      class="add-button"
      appearance="icon"
      (click)="openAddTeacher(teacher)"
    >
      <tui-icon icon="@tui.circle-plus"></tui-icon>
    </tui-button>
  </tui-table-bar>

  <table tuiTable class="table" [columns]="columns">
    <thead>
      <tr tuiThTeacher>
        <th tuiTh [resizable]="true">firstName</th>
        <th tuiTh [resizable]="true">secondName</th>
        <th tuiTh [resizable]="true">lastName</th>
        <th tuiTh [resizable]="true">jobRole</th>
        <th tuiTh>Actions</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="teachers">
      <tr *ngFor="let teacher of teachers" tuiTr>
        <td *tuiCell="'jobRole'" tuiTd>
          {{ teacher.jobRole }}
        </td>
        <td *tuiCell="'firstName'" tuiTd>
          {{ teacher.firstName }}
        </td>
        <td *tuiCell="'secondName'" tuiTd>
          {{ teacher.secondName }}
        </td>
        <td *tuiCell="'lastName'" tuiTd>
          {{ teacher.lastName }}
        </td>
        <td *tuiCell="'actions'" tuiTd>
          <tui-button
            appearance="icon"
            (click)="openEditTeacher(teacher)"
            class="edit-button"
          >
            <lucide-icon name="pencil"></lucide-icon>
          </tui-button>

          <tui-button
            appearance="icon"
            (click)="deleteTeacher(teacher)"
            class="delete-button"
          >
            <lucide-icon name="trash-2"></lucide-icon>

            <ng-container *ngIf="loading[teacher.id]; else notLoading">
              <app-loader></app-loader>
            </ng-container>
            <ng-template #notLoading></ng-template>
          </tui-button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="pagingInfo">
      <tr>
        <td [colSpan]="columns.length">
          <div class="pagination-container" *ngIf="pagingInfo">
            <tui-table-pagination
              [page]="page"
              [size]="size"
              [total]="pagingInfo.total"
              [items]="[2, 5, 10, 20]"
              (paginationChange)="onPagination($event)"
            ></tui-table-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <div></div>
</div>
