<div class="group-list-container">
  <tui-table-bar>
    <tui-button
      class="add-button"
      appearance="icon"
      (click)="openAddGroup(group)"
    >
      <tui-svg src="tuiIconPlusCircleLarge"></tui-svg>
    </tui-button>
  </tui-table-bar>
  <table tuiTable class="table" [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th tuiTh [resizable]="true">Имя группы</th>
        <th tuiTh></th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="groups">
      <tr *ngFor="let group of groups" tuiTr>
        <td *tuiCell="'name'" tuiTd>
          {{ group.name }}
        </td>
        <td *tuiCell="'actions'" tuiTd>
          <tui-button
            appearance="icon"
            (click)="openEditGroup(group)"
            class="edit-button"
          >
            <tui-svg src="tuiIconEditLarge"></tui-svg>
          </tui-button>

          <tui-button
            appearance="icon"
            (click)="deleteGroup(group)"
            class="delete-button"
          >
            <tui-svg src="tuiIconTrashLarge"></tui-svg>

            <ng-container *ngIf="loading[group.id]; else notLoading">
              <app-loader></app-loader>
            </ng-container>
            <ng-template #notLoading></ng-template>
          </tui-button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="pagingInfo">
      <tr>
        <td [colSpan]="columns.length">
          <tui-table-pagination
            [total]="pagingInfo.total || 0"
            [size]="pagingInfo.pageSize"
            [items]="[2, 5, 10, 15]"
            (pageChange)="onPageChange($event)"
            (sizeChange)="onSizeChange($event)"
          ></tui-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <div></div>
</div>
