<h2>
  Редактирование преподавателя {{ teacher?.jobRole }} {{ teacher?.firstName }}
  {{ teacher?.secondName }} {{ teacher?.lastName }}
</h2>
<app-teacher-form
  *ngIf="teacher"
  [onSubmit]="updateTeacher.bind(this)"
  [teacher]="{
        firstName: teacher.firstName,
        secondName: teacher.secondName,
        lastName: teacher.lastName,
        jobRole: teacher.jobRole,
    }"
></app-teacher-form>
<div *ngIf="teacher?.photoPath" class="photo-preview">
  <h4>Текущая фотография:</h4>
  <img [src]="teacher?.photoPath" alt="Teacher Photo" class="current-photo" />
</div>

<button
  appearance="primary"
  tuiButton
  type="button"
  class="btn"
  (click)="handleSave()"
>
  <img [src]="icon" class="btn-icon" /> Сохранить
</button>
