<div class="office-list-container">
  <tui-table-bar>
    <tui-button
      class="add-button"
      appearance="icon"
      (click)="openAddOffice(office)"
    >
      <tui-icon icon="@tui.circle-plus"></tui-icon>
    </tui-button>
  </tui-table-bar>

  <table tuiTable class="table" [columns]="columns">
    <thead>
      <tr tuiThOffice>
        <th tuiTh [resizable]="true">Номер корпуса</th>
        <th tuiTh [resizable]="true">Номер кабинета</th>
        <th tuiTh>Действие</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="offices">
      <tr *ngFor="let office of offices" tuiTr>
        <td *tuiCell="'corpusNumber'" tuiTd>
          {{ office.corpusNumber }}
        </td>
        <td *tuiCell="'classroomNumber'" tuiTd>
          {{ office.classroomNumber }}
        </td>
        <td *tuiCell="'actions'" tuiTd>
          <tui-button
            appearance="icon"
            (click)="openEditOffice(office)"
            class="edit-button"
          >
            <lucide-icon name="pencil"></lucide-icon>
          </tui-button>

          <tui-button
            appearance="icon"
            (click)="deleteOffice(office)"
            class="delete-button"
          >
            <lucide-icon name="trash-2"></lucide-icon>

            <ng-container *ngIf="loading[office.id]; else notLoading">
              <app-loader></app-loader>
            </ng-container>
            <ng-template #notLoading></ng-template>
          </tui-button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="pagingInfo">
      <tr>
        <td [colSpan]="columns.length">
          <div class="pagination-container" *ngIf="pagingInfo">
            <tui-table-pagination
              [page]="page"
              [size]="size"
              [total]="pagingInfo.total"
              [items]="[20, 25, 30, 35]"
              (paginationChange)="onPagination($event)"
            ></tui-table-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <div></div>
</div>
