<tui-root *ngIf="isAdmin$ | async">
  <nav tuiTabBar class="container">
    <a
      icon="tuiIconMenuLarge"
      routerLink="/lessons"
      routerLinkActive
      tuiTabBarItem
    >
      Пары
    </a>
    <a
      icon="tuiIconHomeLarge"
      routerLink="/offices"
      routerLinkActive
      tuiTabBarItem
    >
      Кабинет
    </a>
    <a
      icon="tuiIconUserLarge"
      routerLink="/teachers"
      routerLinkActive
      tuiTabBarItem
    >
      Преподаватели
    </a>
    <a
      icon="tuiIconPenToolLarge"
      routerLink="/subjects"
      routerLinkActive
      tuiTabBarItem
    >
      Предмет
    </a>
    <a
      icon="tuiIconUsersLarge"
      routerLink="/groups"
      routerLinkActive
      tuiTabBarItem
    >
      Группы
    </a>
  </nav>
</tui-root>
